* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body #root {
  width: 100%;
  height: 100vh;
  background: rgb(83, 79, 81);
  background: linear-gradient(
    117deg,
    rgba(83, 79, 81, 1) 5%,
    rgba(9, 8, 9, 0.9556197478991597) 100%
  );
}

body {
  background: #f0f0f0;
}

#canvas-container {
  height: 100%;
  width: 100%;
}

h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 55px;
  letter-spacing: 1px;
}

a { 
  color: white;
}

a:hover {
  color: #fff;
}

ul{
  position: fixed;
  left: 0;
  top: 50px;
  width: 100%;
  list-style-type: none;
}
li{
  margin: 1rem;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
